<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="..public/mustache.css" />
    <title>User Directory</title>
  </head>
    <body>
      <div class="container">
          <p class="user_thumbnails">
          {{#users}}
              <p><img src="{{avatar}}" alt="User avatar" /></p>
              <p class="fullName"><strong>{{name}}</strong></p>

              <p>
              {{#job}}{{job}}, {{company}}{{/job}}
              {{^job}}<p class="available">Available for hire!</p>{{/job}}
              </p>
          {{/users}}
          </p>
    </div>

    <script src="app.js"></script>

    </body>
  </html>
